= form_for @statusnokia_port do |f|
  - if @statusnokia_port.errors.any?
    #error_explanation
      %h2= "#{pluralize(@statusnokia_port.errors.count, "error")} prohibited this statusnokia_port from being saved:"
      %ul
        - @statusnokia_port.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :device
    = f.text_field :device
  .field
    = f.label :port
    = f.text_field :port
  .field
    = f.label :type_device
    = f.text_field :type_device
  .field
    = f.label :configurespeed
    = f.text_field :configurespeed
  .field
    = f.label :speed
    = f.text_field :speed
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :service_all
    = f.text_field :service_all
  .actions
    = f.submit 'Save'
