%div.container
  %h3.margin-top-10
    Tráfico del equipo:
    %b.text-danger #{@ipranedge_interface.devicea}
    Port:
    %b.text-danger #{@ipranedge_interface.porta}


.margin-top-20
%div.container
  .row.col-md-3
    %i.fa.fa-calendar
    %b Ingresar rango de busqueda
    %input#reportrange{:style => "background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%", :type => "text"}

.margin-top-20
%div.container
  .row.col-md-4
    %p
      - if @ipranedge_interface.weeks > 3
        %b.text-danger #{@ipranedge_interface.weeks}
      - else
        %b #{@ipranedge_interface.weeks}
      %b Semanas con alta ocupación


.margin-top-30
%div.margin-left-50
  = line_chart [{name: "#{@ipranedge_interface.devicea} - #{@ipranedge_interface.porta}", data: @chart_port}], legend: true, xtitle: "Semana", ytitle: "Tráfico (Mbps)", download: {filename: "Trafico en Mbps de - #{@ipranedge_interface.devicea} - #{@ipranedge_interface.porta}"}

.margin-top-20
%div.container
  .row.col-md-2
    %p
      %b Nombre del Site A:
    %p
      %b Equipo A:
    %p
      %b Puerto A:
    %p
      %b Descripción A:
    %p
      %b Capacidad (Mbps):
    %p
      %b Tipo de Puerto
    %p
      %b RX Mbps:
    %p
      %b TX Mbps:
    %p
      %b % Utilización:
    %p
      %b % Crecimiento:
    %p
      %b Nombre del Site B:
    %p
      %b Equipo B:
    %p
      %b Comentario:
    %p
      %b Fecha de Solución:
  .row.col-md-10
    %p
      = @ipranedge_interface.name_devicea
    %p
      = @ipranedge_interface.devicea
    %p
      = @ipranedge_interface.porta
    %p
      = @ipranedge_interface.descriptiona
    %p
      = @ipranedge_interface.egressRate
    %p
      = @ipranedge_interface.speed
    %p
      = @ipranedge_interface.gbpsrx
    %p
      = @ipranedge_interface.gbpstx
    %p
      = @ipranedge_interface.status
    %p
      = @ipranedge_interface.crecimiento
    %p
      = @ipranedge_interface.name_deviceb
    %p
      = @ipranedge_interface.deviceb
    %p
      = @ipranedge_interface.comment
    %p
      = @ipranedge_interface.time

%div.container
  .margin-top-20
  = link_to 'Editar', edit_ipranedge_interface_path(@ipranedge_interface), class: 'btn btn-sm btn-success'
  = link_to 'Volver', ipranedge_interfaces_path, class: 'btn btn-sm btn-success'

= form_tag @ipranedge_interface, method: :get do
  = hidden_field_tag :start
  = hidden_field_tag :end
