.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reporte de Interface de Pre-AGG
  .col-md-1

.row
  .col-md-1
  .col-md-10
    .updated
      Actualizado
      - unless PreaggInterface.last == nil
        = PreaggInterface.last.created_at.strftime("%d/%m/%Y")          
      - else
        '-'
.col-md-2

.row.margin-top-00
  .col-md-12
    %table.table.table-striped.table-bordered.table-condensed.table-hover.text-center.margin-top-10.table-responsive
      %thead
        %tr
          %th.text-center
            Nodo
          %th.text-center
            Puerto
          %th.text-center
            Servicio
          %th.text-center
            Capacidad
          %th.text-center.success
            Max Gbps (Anterior)
          %th.text-center.success
            \% (Anterior)
          %th.text-center.info
            Max Gbps
            %br
            = PreaggInterface.last.created_at.strftime("%d/%m/%Y")
          %th.text-center.info
            \%
            %br
            = PreaggInterface.last.created_at.strftime("%d/%m/%Y")
          %th.text-center
            Crecimiento
          %th.text-center
            Comentario
          %th.text-center
            Fecha de Solución

      %tbody
        - unless PreaggInterface.last == nil
          - @preagg_interfaces.each do |preagg_interface|
            %tr
              %td= preagg_interface.device
              %td= preagg_interface.port
              %td= preagg_interface.servicio
              %td= preagg_interface.egressRate
              %td= preagg_interface.last_bps_max
              
              - if preagg_interface.last_status > 85.00
                %td.danger= preagg_interface.last_status
              - elsif preagg_interface.last_status > 75.00 and preagg_interface.last_status < 84.999
                %td.warning= preagg_interface.last_status
              - else
                %td= preagg_interface.last_status

              %td= preagg_interface.bps_max

              - if preagg_interface.status > 85.00
                %td.danger= preagg_interface.status
              -elsif preagg_interface.status > 75.00 and preagg_interface.status < 84.999
                %td.warning= preagg_interface.status
              - else
                %td= preagg_interface.status
              
              - if preagg_interface.crecimiento > 15.00
                %td.danger= preagg_interface.crecimiento
              -elsif preagg_interface.crecimiento < -15.00
                %td.danger= preagg_interface.crecimiento
              - else
                %td= preagg_interface.crecimiento

              %td= preagg_interface.comment
              %td= preagg_interface.time