.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
    %h4.page_subtitle.margin-top-10
      Reportes de Interface de Pre-AGG
  .col-md-1
%hr

.margin-top-20
%div.container
  #HistorialPreagg

.margin-top-20
%div.container
  #UtilizationPreagg

.margin-top-20
%div.container
  .row.col-md-2
    %p
      %b ID:
    %p
      %b Nodo:
    %p
      %b Equipo:
    %p
      %b Puerto:
    %p
      %b Capacidad Gbps:
    %p
      %b RX Gbps:
    %p
      %b TX Gbps:
    %p
      %b % Utilización:
    %p
      %b % Crecimiento:
    %p
      %b Comentario:
    %p
      %b Área Reponsable:
    %p
      %b Fecha de Solución:
  .row.col-md-10
    %p
      = @preagg_interface.id
    %p
      = @preagg_interface.device
    %p
      = @preagg_interface.port
    %p
      = @preagg_interface.servicio
    %p
      = @preagg_interface.egressRate
    %p
      = @preagg_interface.gbpsrx
    %p
      = @preagg_interface.gbpstx
    %p
      = @preagg_interface.status
    %p
      = @preagg_interface.crecimiento
    %p
      = @preagg_interface.comment
    %p
      = @preagg_interface.provider.name
    %p
      = @preagg_interface.time

%div.container
  .margin-top-20
  = link_to 'Editar', edit_preagg_interface_path(@preagg_interface), class: 'btn btn-sm btn-success'
  = link_to 'Volver', preagg_interfaces_path, class: 'btn btn-sm btn-success'
  .margin-top-20

%script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}

:javascript
  google.charts.load('current', {packages: ['corechart', 'bar', 'line']});

  google.charts.setOnLoadCallback(UtilizationPreagg);
  function UtilizationPreagg() {
    var UtilizationPreagg = JSON.parse('#{(PreaggInterface.where(deviceindex: @preagg_interface.deviceindex).order("created_at ASC").pluck(:created_at, :status).map { |e| [ e[0].strftime("%U-%Y"), e[1] ] }).to_json.html_safe}');
    UtilizationPreagg = [['Fecha/Semana', 'Utilización']].concat(UtilizationPreagg);
    UtilizationPreagg = google.visualization.arrayToDataTable(UtilizationPreagg);
    var options = {
      'height':300,
      hAxis: {
        title: 'Fecha/Semana',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' }
      },
      vAxis: {
        title: '%',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' },
        minValue: 0
      },
      colors: ['#99b2e5'],
      legend: { position: 'top' }
    };

    var UtilizationPreaggChart = new google.visualization.ColumnChart(document.getElementById('UtilizationPreagg'));
    UtilizationPreaggChart.draw(UtilizationPreagg, options);
  }

  google.charts.setOnLoadCallback(HistorialPreagg);
  function HistorialPreagg() {
    var HistorialPreagg = JSON.parse('#{(PreaggInterface.where(deviceindex: @preagg_interface.deviceindex).order("created_at ASC").pluck(:created_at, :bps_max).map { |e| [ e[0].strftime("%U-%Y"), e[1] ] }).to_json.html_safe}');
    HistorialPreagg = [['Fecha/Semana', 'Tráfico Gbps']].concat(HistorialPreagg);
    HistorialPreagg = google.visualization.arrayToDataTable(HistorialPreagg);
    var options = {
      height: 300,
      hAxis: {
        title: 'Fecha/Semana',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' }
      },
      vAxis: {
        title: 'Gbps',
        textStyle: {fontSize: 12, color: 'black' },
        titleTextStyle: {fontSize: 12, color: 'black' },
        minValue: 0
      },
      colors: ['#99b2e5'],
      curveType: 'function',
      legend: { position: 'top' },
      pointsVisible: 'true'
    };

    var HistorialPreaggChart = new google.visualization.LineChart(document.getElementById('HistorialPreagg'));
    HistorialPreaggChart.draw(HistorialPreagg, options);
  }